name: CI

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: fortran-lang/setup-fortran@v1
        with:
          compiler: gcc
          version: 13

      - uses: fortran-lang/setup-fpm@v7

      - run: fpm test
