name: CI

on:
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-latest
          # - runner: macos-15-intel
          # - runner: macos-latest
          - runner: windows-latest
    runs-on: ${{ matrix.runner }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4

      - uses: fortran-lang/setup-fortran@v1
        with:
          compiler: gcc
          version: 14

      - uses: fortran-lang/setup-fpm@v7

      - run: fpm test
